*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   margin: 100px;
   border: 1px solid black;
   display: flex;
    }

.container div{
    height: 400px;
    flex-grow: 1 1 200px;
}

.box1{
    background-color: red;
    flex-grow: 1;
}
.box2{
    background-color: blue;
    flex-grow: 1;
}   
.box3{
    background-color: green;
    flex-grow: 1;
}
.box4{
    background-color: yellow;
    flex-grow: 1;
}


.container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.container1 div{
    height: 200px;
     
    background-color: grey;
}

 @media screen and (max-width: 600px) {
    .container1 {
        grid-template-columns: repeat(2, 1fr);
    }
    
 }
    @media screen and (max-width: 400px) {
        .container1 {
            grid-template-columns: 1fr;
        }
        
    }
        